:root {
  /* Primary */
  --orange: hsl(25, 97%, 53%);

  /* Neutral */
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
  --gradient-card: radial-gradient(circle at top, hsl(212, 18%, 17%), hsl(215, 27%, 12%));
}

body {
  background-color: var(--very-dark-blue);
  font-family: 'Overpass', sans-serif;
  font-size: 0.9375rem;
  color: var(--white);
  display: grid; /* or flex */
  justify-content: center;
  align-items: center;
}

.card-component {
  margin: 1.5rem;
  padding: 1.5rem;
  background: var(--gradient-card);
  border-radius: 1rem;
  overflow: hidden;
}

.card-content {
  display: flex;
  flex-direction: column;
}

.icon-star {
  align-self: start;
  padding: 0.75rem;
  border-radius: 1.5rem;
  background-color: var(--dark-blue);
  margin-bottom: 1rem;
}

.card__title {
  margin-bottom: 0.85rem;
}

.card__body {
  font-size: 0.875rem;
  color: var(--light-grey);
  margin-bottom: 1rem;
}

.card__rating {
  display: flex;
  flex-direction: column;
}

.rating__fieldset {
  margin: 0.5rem 0 1.5rem 0;
  border: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

.rating-field {
  position: relative;
}

input { /* Hides native radio buttons */
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
  position: absolute;
  z-index: 0;
}

input + label {
  background-color: var(--dark-blue);
  color: var(--medium-grey);
  width: 3em;
  height: 3em;
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
}

/* Hover */
input:hover + label {
  background-color: var(--orange);
  color: var(--white);
}

/* Checked */
input:checked + label {
  background-color: var(--medium-grey);
  color: var(--white);
  cursor: pointer;
}

/* Focus-visible */
input:focus-visible + label {
  outline: solid var(--white);
}

.rating__btn {
  padding: 0.75rem;
  background-color: var(--orange);
  border: none;
  border-radius: 2rem;
  text-transform: uppercase;
  color: var(--white);
  letter-spacing: 0.1em;
}

.rating__btn:hover {
  background-color: var(--white);
  color: var(--orange);
}

.card-state__thank-you {
  display: none;
}

@media only screen and (min-width: 30rem) {
  /* Grid */
  .card-component {
    max-width: 25rem;
    border-radius: 1.75rem;
    padding: 2rem;
  }

  .icon-star {
    margin-bottom: 1.5rem;
  }

  .card__title {
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
  }

  .card__body {
    font-size: 0.9rem;
  }

  input + label {
    width: 3.25em;
    height: 3.25em;
    font-size: 1rem;
  }
}